body {
/*  padding-bottom: 100px; */
  background-image: url(http://wmh.github.io/circular-slides-generator/static/img/noise.png);
}

.scroll-text {
/*  width: 400px; */
  width: 100%;  
  height: 4.5em;
  overflow: hidden;
}
.scroll-text ul {
/*  width: 800px; */
  width: 100%;  
  height: 100px;
  overflow: hidden;
  margin: 0;
}
.scroll-text ul li {
  height: 1.5em;
}

/* mimi - fix for IE */
#demo5 {
	width: 1200px;
	margin: 150px auto 0px auto;
}

.scroll-img {
/*  width: 680px; */
  width: 100%; 
  height: 142px; 
  overflow: hidden;
  font-size: 0;
}
.scroll-img ul {
/*  width: 700px; */
  width: 100%;  
/*  height: 600px; */
  margin: 0;
}
.scroll-img > div,
.scroll-img ul li {
  display: inline-block;
  margin: 10px 0 10px 10px;
  border: 1px solid #ffffff;    
}

#demo5.scroll-img ul {
  width: 1500px;   
}

#demo5-btn {
/*  width: 680px; */
  width: 100%;
  padding-top: 10px;
}

#demo5 > div {
	background-color: #ffffff;
}

/* mimi - fix for IE */
@media screen and ( max-width: 1024px ){
	#demo5 {
		width: 980px; 
	}
}

@media screen and ( max-width: 900px ){
	#demo5 {
		width: 880px; 
	}
}

@media screen and ( max-width: 800px ){
	#demo5 {
		width: 780px; 
	}
}

@media screen and ( max-width: 600px ){
	#demo5 {
		width: 680px; 
	}
}

@media screen and ( max-width: 480px ){
	#demo5 {
		width: 460px; 
	}
}

